html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: transparent;
    overflow: hidden;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary);
}

.glitch-bg {
    background: var(--bg-image);
    width: 100%;
    height: 100%;
}

.center-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-allocator {
    text-align: center;
    animation: glitch-cycle 2s infinite;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 50%;
    font-size: 6rem;
    padding-top: 11rem;
    margin: auto;
}

.liquidGlass {
    background-color: color-mix(in srgb, #bbbbbc 12%, transparent);
    backdrop-filter: blur(8px) url(#switcher) saturate(150%);
    box-shadow: inset 0 0 0 1px color-mix(in srgb, #fff calc(0.3 * 10%), transparent), inset 1.8px 3px 0px -2px color-mix(in srgb, #fff calc(0.3 * 90%), transparent), inset -2px -2px 0px -2px color-mix(in srgb, #fff calc(0.3 * 80%), transparent), inset -3px -8px 1px -6px color-mix(in srgb, #fff calc(0.3 * 60%), transparent), inset -0.3px -1px 4px 0px color-mix(in srgb, #000 calc(2 * 12%), transparent), inset -1.5px 2.5px 0px -2px color-mix(in srgb, #000 calc(2 * 20%), transparent), inset 0px 3px 4px -2px color-mix(in srgb, #000 calc(2 * 20%), transparent), inset 2px -6.5px 1px -4px color-mix(in srgb, #000 calc(2 * 10%), transparent), 0px 1px 5px 0px color-mix(in srgb, #000 calc(2 * 10%), transparent), 0px 6px 16px 0px color-mix(in srgb, #000 calc(2 * 8%), transparent);
    border-radius: 8px;
}

.text-scroller-container {
    width: fit-content;
    color: var(--white);
    font-size: 26px;
    font-weight: 600;
    padding: 1rem;
    border-radius: 6px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text-scroller-header .text-scroller {
    text-align: left;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 1.4em;
    vertical-align: middle;
}

.scroller {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-height: 1.25em;
    animation: text-rotator 20s infinite ease;
}

.scroller svg {
    display: block;
    height: 1em;
    width: 1em;
    flex-shrink: 0;
}