html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: transparent;
    overflow: hidden;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary);
}

.glitch-bg {
    background: var(--bg-image);
    width: 100%;
    height: 100%;
    animation: glitch-cycle 2s infinite;
}

.text-allocator {
    text-align: center;
    
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 50%;
    font-size: 6rem;
    padding-top: 11rem;
    margin: auto;
}